.search__header-form {
  display: flex;
  flex-direction: row;
  background-color: red;
  align-items: center;
  max-width: 880px;
  width: 100%;
  background-color: white;

  padding: 0.5rem;
  border-radius: var(--border-rad-2);
  gap: 10px;
  box-shadow: var(--box-shadow-6);

  .search__input-field {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;

    .input-icon {
      display: flex;
      justify-content: center;
      color: var(--secondary-color);
      background-color: var(--shadow-color);
      font-size: 2.1rem;
      padding: 0.3rem;
      border-radius: var(--border-rad-2);
    }

    .search__input-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      p {
        margin: 0;
      }

      input {
        background-color: white;
        width: 100%;
      }
    }
  }


  @media screen and (max-width: 400px) {
    .form-row.rooms {
      flex-direction: column;
    }
  }

  .search__btn {
    font-size: 2rem;
    background-color: var(--grey-700);
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: var(--border-rad-2);
    transition: all ease-in-out var(--timer-short);
    margin-left: 0.4rem;
    &:hover {
      background-color: var(--black-100);
    }
  }
}

/*

  .select__section {
    display: flex;
    button {
      width: 100%;
      background: none;
      border: none;
      font-size: 1.3rem;
      padding-bottom: 1rem;
      font-weight: bold;
      border-bottom: 4px solid rgb(216, 216, 216);
      color: var(--grey-500);
    }
    button.active {
      border-bottom: 4px solid var(--secondary-color);
    }
  }


*/
