.listings__grid {
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
}

.listings__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  .listings__container-title {
  }
  .listings__container-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    p {
      font-size: 1rem;
      color: var(--grey-400);
      span {
        font-weight: bold;
        color: var(--secondary-color);
      }
    }

    select {
      display: flex;
      align-items: center;
      font-size: 1rem;
      padding: 0.3rem 0.7rem;
      border: 1px solid var(--grey-300);
      border-radius: var(--border-rad-2);
      color: var(--grey-700);
      transition: all ease-in-out var(--timer-short);
      &:hover {
        background-color: var(--grey-700);
        color: white;
      }
    }
  }
}

.no__results-container {
  margin-top: 5rem;
  padding-bottom: 10rem;
}
