.listings__grid {
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: grid;
	gap:35px; 
	//grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
}

.listings__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  .listings__container-title {
  }
  .listings__container-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    p {
      font-size: 1rem;
      color: var(--grey-400);
      span {
        font-weight: bold;
        color: var(--secondary-color);
      }
    }

    select {
      display: flex;
      align-items: center;
      font-size: 1rem;
      padding: 0.4rem 0.7rem;
      border: none;
      border-radius:var(--border-rad-1);
      color: var(--grey-800);
      background-color: var(--grey-100);
    }
  }
}
