.agent__modal-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: white;
  padding: 0.5rem;
  box-shadow: var(--box-shadow-3);
  border-radius: var(--border-rad-2);
  .modal__logo {
    text-align: center;
    padding-bottom: 0.3rem;
    font-size: 1.2rem;
    color: var(--grey-500);
    font-weight: bold;
    span {
      color: var(--secondary-color);
    }
  }

  .image__container {
    width: 100%;
    position: relative;
    margin-bottom: 0.5rem;
    border-radius: var(--border-rad-2);
    img {
      min-width: 100%;
      border-radius: var(--border-rad-2);
    }

    h1 {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      color: var(--grey-500);
      span {
        background-color: white;
        padding: 0.4rem 1rem;
        border-radius: var(--border-rad-2);
      }
    }
  }

  .p-text {
    text-align: center;
  }

  .contacts__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0.8rem;
    .contact__tag {
      padding: 0.3rem;
      padding-left: 1rem;
      display: flex;
      background-color: var(--shadow-color);
      border-radius: 5px;
      align-items: center;
      gap: 20px;
      color: var(--grey-500);
      text-align: center;
      i {
        font-size: 1rem;
        color: var(--secondary-color);
        background-color: var(--shadow-color);
        padding: 10px;
        border-radius: 100%;
      }
    }
  }

  .buttons__container {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    .btn {
      border-radius: 5px;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 5px;
      .btn.close {
        max-width: 100%;
      }
    }
  }
}
