.about__team-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 2rem;
}

.about__stats-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  .stats__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.header-small {
  height: 45vh;
  background-position: center;
  background-size: cover;

  width: 100%;
  display: flex;
  h1 {
    color: var(--accent-color);
    font-size: 2.6rem;
    width: 100%;
    max-width: 900px;
    line-height: 45px;
    margin-bottom: 0.2rem;
  }
  p {
    color: white;
    font-size: 1.2rem;
  }

  :nth-child(3) {
    margin-top: 1rem;
    background-color: var(--secondary-color);
    padding: 0.8rem 3rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: var(--border-rad-1);
    transition: all ease-in-out 1s;
    &:hover {
      background-color: rgb(29, 69, 177);
    }
    :nth-child(1) {
      color: white;
      text-decoration: none;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      padding: 0.5;
      font-size: 1rem;
    }
  }
}

.p-top {
  padding: 0 !important;
}
.dreamhouse__container {
  width: 100%;
  border: 15px;
  display: flex;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  background-color: var(--grey-000);
  border-radius: var(--border-rad-1);
  box-shadow: var(--box-shadow-3);
  margin-top: 6rem;
  img {
    width: 100%;
    max-width: 500px;
  }

  .dreamhouse__container-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      color: var(--grey-500);
      span {
        color: var(--secondary-color);
      }
    }
    h1 {
      font-size: 2.2rem;
      color: var(--grey-700);
      margin-bottom: 0.8rem;
    }
    p {
      margin-bottom: 1rem;
      color: var(--grey-500);
      font-size: 1rem;
    }
    .dreamhouse__btn-container {
      display: flex;
      gap: 10px;
      button {
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem 1.5rem;
        background-color: var(--grey-400);
        border-radius: var(--border-rad-1);
        border: none;
        color: white;
        width: 100%;
        max-width: 250px;
        transition: all ease-in-out var(--timer-short);
        &:hover {
          background-color: var(--grey-500);
        }
      }

      .dreamhouse-blue {
        background-color: var(--secondary-color);
        &:hover {
          background-color: rgb(29, 69, 177);
        }
      }
    }
  }

  @media screen and (max-width: 930px) {
    .dreamhouse__container-content {
      h2 {
        font-size: 1.2rem;
      }
      h1 {
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    img {
      max-width: 100%;

      border-bottom-left-radius: 0;
    }

    .dreamhouse__container-content {
      align-items: center;
      padding-bottom: 1.5rem;
      h1 {
        //text-align: center;
        line-height: 30px;
        font-size: 1.5rem;
      }
      h2 {
        font-size: 2rem;
      }
    }
  }
}
