.about__team-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 2rem;
}

.about__stats-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  .stats__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.header-small {
  height: 30vh;
  background-position: center;
  background-size: cover;

  width: 100%;
  display: flex;

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
      color: white;
      text-transform: uppercase;
      font-size: 3rem;
      width: 100%;
      text-align: center;
    }
  }
}

.p-top {
  padding: 0 !important;
}

.about__gallery-container {
  display: flex;
  margin-top: 2rem;
  gap: 40px;

  .gallery__main {
    display: flex;
    flex-direction: column;
    max-width: 600px;

    img {
      width: 100%;
      background-position: center;
      background-size: cover;
      border-radius: var(--border-rad-2);
      box-shadow: var(--box-shadow-4);
    }
    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    @media screen and (max-width: 1200px) {
      max-width: 100%;
    }
  }

  .gallery__side {
    display: flex;
    flex-direction: column;
    gap: 20px;

    hr {
      margin: 0;
      border-color: var(--grey-100);
    }

    .gallery__side-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      img {
        max-width: 200px;
        background-position: center;
        background-size: cover;
        border-radius: var(--border-rad-2);
        box-shadow: var(--box-shadow-4);

        @media screen and (max-width: 600px) {
          max-width: 150px;
        }
      }

      .gallery__side-container-content {
        h3 {
          margin-bottom: 0.5rem;
          color: var(--grey-700);
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}
