$house-card-radius: var(--border-rad-2);
$card-padding: 0.7rem;
$card-tag-image: rgba(8, 8, 8, 0.534);
.housecard__container {
  border-radius: $house-card-radius;
  box-shadow: var(--box-shadow-3);
  padding: 0.6rem;
  .housecard__img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $card-padding;
    border-radius: $house-card-radius;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 195px;
    .image-tag {
      display: flex;
      align-items: center;
      gap: 2px;
      color: white;
      background-color: $card-tag-image;
      padding: 0.4rem 0.5rem;
      border-radius: var(--border-rad-2);
    }
    .image__top {
      display: flex;
      gap: 10px;
    }

    .image__bottom {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      button {
        padding-top: 0.5rem;
        cursor: pointer;
        border: none;
      }
    }
  }
  .housecard-content {
    display: flex;
    flex-direction: column;
    padding: $card-padding;

    h1 {
      font-size: 1.6rem;
      color: var(--grey-700);
    }
    .details__container {
      height: 60px;
      overflow: hidden;
      p {
        color: var(--grey-400);
      }
    }

    .housecard__container-top-row-details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        font-size: 1.3rem;
        font-weight: bolder;
        color: var(--secondary-color);
      }

      .interactions__container {
        display: flex;
        gap: 5px;
        .interaction__btn {
          padding: 0.5rem;
          font-size: 0.2rem;
          border: none;
          border-radius: $house-card-radius;
          background-color: var(--grey-200);
          transition: all ease-in-out 0.2s;
          .interaction__btn-logo {
            font-size: 1.3rem;
            color: var(--grey-400);
            transition: all ease-in-out 0.2s;
          }

          &:hover {
            background-color: var(--grey-400);

            .interaction__btn-logo {
              transform: scale(1.2);
              color: white;
            }
          }
        }
      }
    }

    hr{
      margin: 0px;
      margin-top: 15px;
    }

    .housecard__grid {
      display: flex;
      justify-content: space-between;
      align-items: center;      
      margin-bottom: 0.7rem;
      margin-top: 0.4rem;
      p {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        gap: 5px;
        align-items: center;
        padding: 0.3rem;

        .housecard__icon{
          background-color: var(--shadow-color);
          color: var(--secondary-color);
          padding: 0.3rem;
          font-size: 2rem;
          border-radius: 100%;
        }
      }
    }

    .housecard__buttons-container {
      display: flex;
      gap: 5px;

      .housecard__btn {
        width: 100%;
        padding: 0.4rem;
        font-weight: bold;
        color: var(--secondary-color);
        background-color: var(--shadow-color);
        border-radius: $house-card-radius;
        border: none;
        &:hover {
          background-color: var(--secondary-color);
          color: white;
        }
      }
    }
  }
}

.housecard__container.max-width {
  max-width: 375px;
}
