nav {
  width: 100%;
  //box-shadow: var(--box-shadow-3);

  .navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    .link {
      text-decoration: none;
      h1 {
        font-size: 1.3rem;
        color: var(--secondary-color);
        span {
          color: var(--grey-500);
          
        }
      }
    }
  }

  .navbar__links-container {
    display: flex;
    gap: 20px;
    .navlink {
      font-size: 1.1rem;
      text-decoration: none;
      color: var(--grey-500);
      padding: 0.3rem 0.5rem;
      border-radius: var(--border-rad-1);
      transition: all ease-in-out var(--timer-short);
      border: 1px solid white;
      &:hover {
        color: var(--secondary-color);
      }
    }

    .navlink.active {
     // color: var(--secondary-color);
      //background-color: var(--shadow-color);

      border-bottom: 1px solid var(--grey-700);
    }
  }

  .navbar__buttons-container {
    display: flex;
    gap: 20px;
    align-items: center;
    .navlink {
      background-color: var(--grey-700);
      color: white;
      text-decoration: none;
      padding: 0.7rem 2rem;
      border-radius: var(--border-rad-2);
      transition: all ease-in-out var(--timer-short);
      &:hover {
        background-color: var(--grey-600);
      }
    }
  }
}
