.header-small {
  height: 45vh;
  background-position: center;
  background-size: cover;

  width: 100%;
  display: flex;
  h1 {
    font-size: 2rem;
    width: 100%;
    max-width: 900px;
  }
  p {
    color: white;
    font-size: 1.2rem;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2rem !important;
      line-height: 2.3rem !important;
    }
    p {
      font-size: 1rem !important;
    }
  }
}

.contact-p-text {
  max-width: 100% !important;
}
