.search-navbar {
  border-top: 1px solid var(--grey-000);
  border-bottom: 1px solid var(--grey-000);
  padding: 1rem 0;
  margin-bottom: 10rem;

  .navbar__container {
    button,
    input,
    select,
    .select__type {
      display: flex;
      align-items: center;
      font-size: 1rem;
      padding: 0.4rem 0.7rem;
      border: none;
      border-radius: var(--border-rad-1);
      color: var(--grey-800);
      background-color: var(--grey-100);
    }
    .input-container {
      display: flex;
      width: 100%;
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        background-color: var(--grey-100);
        border: none;
      }
      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: var(--secondary-color);
        color: white;
        .icon {
          color: white;
        }
      }

      select {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        cursor: pointer;
        padding-right: 0.2rem;
        position: relative;
        letter-spacing: 2px;
      }

      .select__container {
        display: flex;
        width: 100%;
        user-select: none;
        select {
          width: 100%;
        }
      }

      .select__type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: var(--secondary-color);
        color: white;
        display: flex;
        gap: 8px;
      }
    }
    .navbar__top {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }

  // !!!!!!!!!!!!!!THIS NEEDS TO BE CLEANED UP!!!!!!!!!!!!!!!!!!!!!!!!!!
  .navbar__bottom {
    .navbar__bottom-content {
      transition: all 1s ease-in-out;
    }
    .price-nav {
      display: none;
    }

    .navbar__bottom-content.price-nav.active {
      margin-top: 1rem;
      display: flex;
      gap: 10px;
    }

    .rooms-nav {
      display: none;
    }

    .navbar__bottom-content.rooms-nav.active {
      margin-top: 1rem;

      display: flex;
      gap: 8px;
      select {
        width: 100%;
      }
    }

    .type-nav {
      display: none;
    }

    .type-nav.active {
      margin-top: 1rem;
      display: flex;
      gap: 8px;
    }

    .filter {
      display: none;
    }

    .filter.active {
      margin-top: 1rem;
      display: flex;
      gap: 8px;
    }
  }
}
