.app {
  padding-top: 75px;
}

// Use this to set all the general styling for your application.
.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  padding: 7rem 0;
}

.mobile-app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  padding: 7rem 0;

  @media screen and (max-width: 600px) {
    min-height: auto;
    padding: 4rem 0;
  }
}

.page__content {
  display: flex;
  padding:6rem 0;
  flex-direction: column;
  width: 100%;
}
.content-title {
  margin-bottom: 1rem;
  color: var(--grey-500);
  span {
    background-color: rgba(28, 44, 139, 0.089);
    padding: 0 0.3rem;
    border-radius: var(--border-rad-1);
    color: var(--secondary-color);
  }

  @media screen and (max-width: 600px) {
  }
}

.app__container-width {
  width: 95%;
  max-width: 1200px;
  // Smaller screen sizes make it 100%
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__whitebg {
  color: var(--white-color);
}


.bg-primary {
  background-color: var(--shadow-color);
}

.bg-grey {
  background-color: var(--grey-000);
}

hr {
  width: 100%;
  max-width: 700px;
  margin: 1rem 0 1rem 0;
  border: 0;
  border-top: 1px solid rgb(211, 210, 210);
  margin-left: auto;
  margin-right: auto;
}

.head-text {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--grey-700);

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.button__container {
  display: flex;
  gap: 10px;
}


.brown__button {
  background-color: var(--primary-color);
  color: white;
  border: 2px solid var(--primary-color);

  &:hover {
    border-color: #1f1d1e;
    color: #1f1d1e;
    background-color: white;
  }
}

.white__button {
  background-color: white;
  width: 100%;
  max-width: 230px;
  padding: 0.7rem;
  font-size: 1rem;
  font-family: "Titillium Web", sans-serif;
  border: none;
  transition: all ease-in-out var(--timer-short);
  &:hover {
    background-color: rgb(185, 185, 185);
  }
}

.primary-col {
  color: var(--primary-color);
}

.secondary-col {
  color: var(--secondary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.section-h1 {
  font-size: 2.5rem;
  margin-top: 5rem;
  color: white;
}

.p-text {
  color: var(--grey-500);
  font-size: 1rem;
  span {
    font-weight: bold;
    color: var(--ser);
  }
}

.content__title-text {
  color: var(--grey-500);
  margin-bottom: 0.7rem;
  span {
    color: var(--secondary-color);
    background-color: var(--shadow-color);
    border-radius: var(--border-rad-1);
    padding: 0px 5px;
  }
}

input,
select {
  border: none;
  border-bottom: 2px solid var(--grey-100);
  padding: 0.2rem 0px;
  font-size: 1rem;
  background-color: white;
}

.btn {
  width: 100%;
  max-width: 200px;
  font-size: 1rem;
  padding: 0.6rem;
  font-weight: bold;
  border: none;
  text-decoration: none;
}

.btn.close {
  background-color: var(--grey-400);
  color: white;

  &:hover {
    background-color: var(--grey-500);
  }
}

.btn.contact {
  background-color: var(--secondary-color);
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  max-width: 100%;
  &:hover {
    background-color: rgb(47, 102, 173);
  }
}

.page__tag{
  color: var(--secondary-color);
  font-weight: 400;
}

.grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 15px;
  }
}
