.home {
  display: flex;
  flex-direction: column;

  .header {
    height: 65vh;
    background-position: center;
    background-size: cover;

    padding-top: 3rem;
    width: 100%;

    @media screen and (max-width: 400px) {
      padding-top: 0;
    }
    h1 {
      color: var(--grey-700);
      font-size: 4rem;
      max-width: 600px;
      font-weight: bolder;
      line-height: 70px;

      @media screen and (max-width: 500px) {
        font-size: 1.6rem;
        margin-top: 4rem;
        margin-bottom: 0.2rem;
      }
    }

    p {
      max-width: 500px;
      margin-bottom: 1rem;
      margin-top: 0.3rem;
    }

    .header__info-container {
      display: flex;
      gap: 30px;
      margin-top: 1rem;
    }
  }

  .dreamhouse__container {
    width: 100%;
    border: 15px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: var(--grey-000);
    border-radius: var(--border-rad-1);
    box-shadow: var(--box-shadow-3);

    img {
      width: 100%;
      max-width: 500px;
    }

    .dreamhouse__container-content {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        color: var(--grey-500);
        margin-bottom: 1.5rem;
        span {
          color: var(--secondary-color);
        }
      }
      h1 {
        font-size: 2.2rem;
        color: var(--grey-700);
        margin-bottom: 0.8rem;
      }
      p {
        margin-bottom: 1rem;
        color: var(--grey-500);
        font-size: 1rem;
      }
      button {
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem 1.5rem;
        background-color: var(--grey-400);
        border-radius: var(--border-rad-1);
        border: none;
        color: white;
        transition: all ease-in-out var(--timer-short);
        &:hover {
          background-color: var(--grey-500);
        }
      }
    }

    @media screen and (max-width: 930px) {
      .dreamhouse__container-content {
        h2 {
          font-size: 1.2rem;
        }
        h1 {
          font-size: 1.5rem;
        }
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
      img {
        max-width: 100%;
      }

      .dreamhouse__container-content {
        align-items: center;
        padding-bottom: 1.5rem;
        h1 {
          //text-align: center;
          line-height: 30px;
          font-size: 1.5rem;
        }
        h2 {
          font-size: 2rem;
        }
      }
    }
  }
}

.explore__grid {
  margin-top: 1.5rem;
}

.house__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 2rem;
}

.grid {
  margin-top: 2.2rem;

  .list__grid-item {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: var(--border-rad-2);
    transition: all ease-in-out var(--timer-short);
    box-shadow: var(--box-shadow-6);
    .grid__item-icon {
      font-size: 3.7rem;
      color: var(--secondary-color);
    }

    h2 {
      color: var(--grey-700);
      margin-top: 1rem;
      margin-bottom: 0.8rem;
    }

    &:hover {
      box-shadow: var(--box-shadow-9);
    }
  }
}

.row {
  .row__item {
    max-width: 600px;
  }

  p {
    max-width: 500px;
  }
}
