.agent__card-container {
  box-shadow: var(--box-shadow-3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: var(--border-rad-2);
  transition: all ease-in-out var(--timer-short);
  &:hover {
    box-shadow: var(--box-shadow-1);
  }
  img {
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: var(--border-rad-2);
  }
  .agent__img-container {
    position: relative;
    .agent__position {
      position: absolute;
      width: 100%;
      text-align: center;
      color: var(--grey-500);
      bottom: -2px;
      span {
        border-radius: 2px;
        background-color: white;
        padding: 0.3rem 0.7rem;
        border-top-left-radius: var(--border-rad-2);
        border-top-right-radius: var(--border-rad-2);
      }
    }
  }
  hr {
    margin: 5px;
    margin-bottom: 10px;
    border-color: var(--grey-100);
  }
  .agent__card-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    h1 {
      text-align: center;
      color: var(--grey-600);
      font-size: 1.5rem;
    }
    p {
      color: var(--grey-400);
    }
  }

  .contacts__container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      background-color: var(--shadow-color);
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 13px;
      overflow: hidden;
      border-radius: var(--border-rad-2);
      color: var(--grey-700);
      i {
        padding: 10px;
        font-size: 1rem;
        color: var(--secondary-color);
        background-color: var(--shadow-color);
      }
    }
  }
}
