.modal__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.733);
  box-shadow: var(--box-shadow-3);
  overflow-y: scroll;

  .modal__content {
    padding: 1rem;
    background-color: white;
    max-width: 850px;
    width: 100%;
    border-radius: var(--border-rad-2);
    .modal__content-parent {
      display: flex;
      flex-direction: column;
      .modal-price {
        color: var(--grey-600);
        font-weight: bold;
        font-size: 1.8rem;
      }
      .top-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .type-tag {
          background-color: var(--shadow-color);
          padding: 0.5rem 1rem;
          font-weight: bold;
          color: var(--secondary-color);
          text-transform: uppercase;
        }

        .features__container {
          display: flex;
          flex-direction: column;

          margin-bottom: 0.8rem;
          .features__tag-parent {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
          }
          .features__tag {
            padding: 0.3rem 0.8rem;
            color: var(--grey-700);
            background-color: var(--grey-200);
            border-radius: var(--border-rad-2);
            text-align: center;
          }
        }
      }

      h1 {
        font-size: 2.2rem;
        color: var(--grey-700);
        padding-bottom: 0.1rem;
        border-bottom: 1px solid var(--shadow-color);
        margin-bottom: 0.5rem;
        span {
          color: var(--grey-700);
        }
      }

      .modal__details-container {
        display: flex;
        width: 100%;
        gap: 20px;
        justify-content: space-between;

        @media screen and (max-width: 600px) {
          flex-direction: column;
        }

        .features-title {
          font-size: 1rem;
          font-weight: bold;
          margin-top: 0.5rem;
          color: var(--grey-700);
        }

        .details-bottom {
          display: flex;
          gap: 10px;
          margin: 15px 0px;

          .rooms-tag {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1rem;
            background-color: var(--shadow-color);
            border-radius: var(--border-rad-2);
            padding: 0px 5px;
            color: var(--grey-600);
            i {
              padding: 5px;
              color: var(--secondary-color);
              background-color: var(--shadow-color);
              border-radius: 100%;
            }
          }
        }
      }
    }
    .modal__bottom-row {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
      gap: 10px;
      .modal__button-container {
        display: flex;
        width: 100%;
        gap: 10px;

        .btn {
          border-radius: 5px;
        }
      }

      .btn {
        border-radius: 5px;
      }
    }
  }
}
