.explore__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 0.25rem 0px;
  padding: 1rem 2rem;
  border-radius:var(--border-rad-1);
  img {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    margin-bottom: 1rem;
  }
  .explore__card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      font-size: 1.3rem;
      line-height: 25px;
      margin-bottom: 0.5rem;
      color: var(--grey-700);
    }
    p {
      margin-bottom: 0.7rem;
    }
    a {
      color: var(--secondary-color);
      cursor: pointer;
      background-color: var(--shadow-color);
      text-align: center;
      border-radius:var(--border-rad-1);
      padding: 0.3rem;
    }
  }
 

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: row;
    gap: 20px;

    img {
      width: 80px;
    }

    .explore__card-details {
    }
  }
}
